build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.pub-cache/
.packages
.melos/

.idea/
.vscode/
*.iml

# Archivos innecesarios de Flutter
pubspec.lock
**/*.log
*.DS_Store
*.lock
*.so
*.swp

# Archivos de caché de Gradle y CocoaPods
.gradle/
pubspec.lock
ios/Pods/
